body {
    background-color: black;
}

#game {
    margin-left:  auto;
    margin-right: auto;
    width: 450px;
    
    color: white;
    font-weight: 1.4em;
    font-family: Comic Sans, Comic Sans MS, cursive;
}
#canvas {
    background-color: white;
    border: solid 1px black;
}

.control {
    /* width: 200px; */
    text-align: center;
}

#pause:before {
    content: "\258c\258c pause";
}
#pause.paused:before {
    content: "\21bb  resume";
}
#pause.new:before {
    content: "\25ba new game"
}

ul.about {
    list-style: circle;
}